# Local .terraform directories
**/.terraform/*
.terraform.*

# .tfstate files
*.tfstate
*.tfstate.*
secrets.tfvars
secrets.auto.tfvars
providers.tf

# .tfvars files
*.tfvars

#Sensetive Info
*private*

#VIM Junk
*.un~
